.DS_Store
/node_modules/
*.tsbuildinfo

# React Router
/.react-router/
/build/
/.react-router/types/

# Testing
coverage/
test-results/
playwright-report/
*.lcov
*.coverage
junit.xml

# Vitest
.vitest/

# Logs
logs/
*.log
